
h1{
    color: lightskyblue;
    text-align: center;
    
}
#signInDiv{
    padding: 15px;
}

#registrationDiv{
    margin-top: 1%;
    margin: auto;
    width: 35%;
    height: 80;
    background-color: rgb(170, 170, 233, .4);
    padding: 20px;
    border-radius: 20px;    
}

#registerAnchor{
    margin-left: 40%;
    color: red;
}

.signIn{
    width: 40%;
    margin: auto;
    height: 80;
    background-color: rgb(170, 170, 233, .4);
    padding: 20px;
    border-radius: 20px;    
}

.usernameLabel{
    margin-left: 30%;
}
.passwordLabel{
    margin-left: 30%;
}

#password{
    margin-left: 3px;
}

#logInBtn{
    height: 40px;
    width: 80px;
    margin-top: 3%;
    margin-left: 46%;
    color: white;
    background-color: green;
    border-radius: 10px;
}