#entryDetail{
    background-color: lightblue;
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 20px;
}

h2{
    color: blue;
    width: 50%;
    margin-left: 38%;
}
h3{
    color: blue;
    width: 50%;
    margin-left: 47%;
}

.display{
    margin-left: 40%;
    padding: 5px;
}

#editWeight{
    margin-left: 40%;
}

#editDate{
    margin-left: 40%;
}

#editWeightInput{
    margin-left: 2%;
}

#editDateInput{
    margin-left: 5.5%;
}

#backBtn{
    margin-left: 40%;
}

#saveBtn{
    margin-left: 15%;
}