<div id = "entryDetail" *ngIf="entry">
    <h2>{{entry.entryId}}: Entry Details</h2>
    <div><span class = "display"><b>Entry: </b></span>{{entry.entryId}}</div>
    <div><span class = "display"><b>Weight: </b></span>{{entry.weight}}</div>
    <div><span class = "display"><b>Date: </b></span>{{entry.date}}</div>

    <h3>Edit:</h3>
    <div>
        <label id = "editWeight"><b>Weight:</b>
            <input id = "editWeightInput" [(ngModel)]="entry.weight" placeholder ="weight"/>
        </label>
        <br/>
        <label id = "editDate"><b>Date:</b>
            <input id = "editDateInput" [(ngModel)]="entry.date" placeholder ="date"/>
        </label>
    </div>
    <br/>
    <button id = "backBtn" (click)="goBack()">Back</button>
    <button id= "saveBtn" (click)="save()">Save</button>
</div>