<h3>Your Entries Dashboard</h3>
<div class = "add">
    <p class="addEntryP">Add an entry</p>
    <label class ="addLabel">Weight:
        <input #entryWeight />
    </label>
    <label class ="addLabel">Date:
        <input #entryDate placeholder="ex: yyyy-mm-dd"/>
    </label>
   <button  (click)="add(entryWeight.value, entryDate.value);">Add</button>
</div>

<ul class="entries">
    <li *ngFor="let entry of entries">
      <a routerLink="/entryDetail/{{entry.entryId}}">
        <span class="badge"><b>Weight: </b>{{entry.weight}} <br><b>Date: </b>{{entry.date}}</span> 
      </a>
      <button class="delete" title="delete entry" 
      (click)="delete(entry)">x</button>
    </li>
  </ul>
