h1 {
    color: rgb(175, 229, 250);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin: auto;
    width: 60%;
    padding: 10px;
   
  }
  h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  nav a {
    margin-left: 5%;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #039be5;
    background-color: lightgreen;

  }
  nav a.active {
    color: #039be5;
  }

  a{
    padding: 10px;
  }

  .logOutBtn{
    color: blue;
    margin-left: 30%;
    background-color: #DCDCDC;
    border: none;
  }

 .logOutBtn:hover{
    color: red;
    background-color: #DCDCDC;
  }

  .userBanner{
    background-color: lightskyblue;
  }

  .routerTag{
    background-color:  lightgreen;
  }