<h1>{{title}}</h1>
<nav>
    <a *ngIf="tokenService.getUser()!=null"  routerLink="/entriesDashboard">Entries Dashboard</a>
    <a *ngIf="tokenService.getUser()!=null" routerLink="/users">Users</a>
    <a *ngIf="tokenService.getUser()!=null" routerLink="/goalsDashBoard">Goals Dashboard</a>
    <a *ngIf="tokenService.getUser()!=null" routerLink="/graphEntries">Graph Entries</a> 
    <button *ngIf = "tokenService.getUser()" (click) = "onLogOut()">Log Out {{tokenService.getUser().userName}}</button>
  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
